
#container {
	width: 80%;
	margin: auto;
}

header, .imgCenteral, .articles, .imgSub, .imgSubSub , footer {
	width: 100%;
}

.firstArticle {
	float: left;
	width: 45%;
}

.secondArticle, .thirdArticle {
	float: left;
	width: 25%;
	margin-left: 2.5%;
}